apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ default "forgejo-ingress" (printf "%s-ingress" .Values.fullnameOverride) }}
  # namespace intentionally omitted: ArgoCD / Helm will set destination namespace
  annotations:
    kubernetes.io/ingress.class: {{ default "nginx" .Values.ingress.class }}
spec:
  rules:
    - host: {{ default "forgejo.example.com" .Values.ingress.host }}
      http:
        paths:
        - path: {{ default "/" .Values.ingress.path }}
          pathType: Prefix
          backend:
            service:
              name: {{ default .Values.serviceNameOverride .Values.fullnameOverride }}
              port:
                number: {{ default 3000 .Values.service.port }}
