replicaCount: 1

image:
  repository: postgres
  tag: "15"
  pullPolicy: IfNotPresent

service:
  port: 5432

fullnameOverride: postgres-blue
namespaceOverride: development
serviceNameOverride: postgres-pool

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 1Gi

postgresql:
  username: admin
  password: pass@123
  database: postgres
